*{margin:0;padding:0;box-sizing: border-box;}

li{list-style:none}

img{vertical-align:top;border:none}

.my-frame{
  width: 980px;
  min-height: 700px;
  margin: 10px auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px;
}
.my-frame .content {
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  min-height: 620px;
}

.dblock{
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dblock .dtitle {
  text-align: left;
  padding-left: 10px;
  border-left: 5px solid #4ba7f5;
  font-size: 16px;
  width: 100%;
}

.ivu-message{
  font-size: 16px!important;
}
.ivu-message .ivu-icon{
  font-size: 18px!important;
}
.ivu-page:after{
  display: inline-block!important;
}
.ivu-row:after, .ivu-row:before{
  /*display: inline-table!important;*/
  display: none!important;
}
